
body {
  background-color:black;
}
h1 {
  color:#00ff00;
  font-family:courier;
}
h2 {
  color:#00ff00;
  font-family:courier;
}
p {
  color:#00ff00;
  font-family:courier;
}
ul {
  color:#00ff00;
}
ol {
  color:#00ff00;
}
li {
  color:#00ff00;
  font-family:courier;
}
.nav {
  border:2px;
  color:#00ff00;
  padding:5px;
  font-family:courier;
  float:right;
}
a:link {
  color:#00ff00;
  font-family:courier;
  text-decoration:none;
}
a:visited {
  color:#00ff00;
  font-family:courier;
  text-decoration:none;
}
a:hover {
  color:#00ff00;
  font-family:courier;
  text-decoration:none;
}
div {
  color:#00ff00;
  font-family:courier;
  font-size:20px;
}
